<!DOCTYPE html>
<head>
    <title>sample</title>
    <style>
        select {
            width: 300px;
            margin:10px;
        }
    </style>
     
</head>

<body>
    <h2>
        <img src="" width="100px" style="margin-left: 50px;" />
        <p style="margin-top:-70px;"><div style="text-align:right; width:90%;">
          <input type="button" value="LOG OUT" onclick="location.href = '/'"/>
        </div></p>
    </h2>
    <hr color="darkgreen">
    <h3 style="margin-left: 40px;"><b>Price edit </b></h3>

    <br>
    <tr><td><p style="margin-left:50px;">SELECT PRODUCT</p></td></tr>
        <br>
        <td><p style="margin-left:40px;margin-top:-40px;"><select></SELECT></p></td>
    </tr>
    <br>
    <tr>
        <td><p style="margin-left:50px;">PRICE</p></td>
        <br>
        <td><p style="margin-left:50px;margin-top:-35px;"><INPUT type="text" name="" style="width: 300px;"></p></td>
    </tr>
    <br>
    <br>
    <br>
    <tr>
        <td><p style="margin-left:50px;margin-top:-20px;"><INPUT type="reset" value="Update price" style="width: 300px;color:white;background-color:darkgreen"></p></td>
    </tr>

</body>

</html>